---
import KayoLogo from "../../assets/kayo-logo-mono.png";
import FoxLogo from "../../assets/fox-logo.png";
import TikTok from "../../assets/tiktok.svg";
import Instagram from "../../assets/instagram.svg";
import WillYouGetTheCallUp from "../../components/willYouGetTheCallUp/index.astro";
import Bg from "../../assets/generic-seated-aussie-rules-stadium-600nw.png";
---

<footer>
  <WillYouGetTheCallUp />
  <div class="content">
    <div class="logos">
      <img src={KayoLogo.src} class="kayo-logo" alt="Kayo Sports" />
      <img src={FoxLogo.src} class="fox-logo" alt="Fox Footy" />
    </div>

    <div class="links">
      <div class="legal">
        <p class="small-print">Privacy Policy</p>
        <p class="small-print">Terms and conditions</p>
      </div>

      <div class="social">
        <p class="small-print"><img src={TikTok.src} alt="TikTok" /></p>
        <p class="small-print">
          <img src={Instagram.src} alt="Instagram3" />
        </p>
      </div>
    </div>
  </div>
  <div class="bg" style={{ backgroundImage: `url(${Bg.src})` }}></div>
</footer>

<style lang="scss">
  @import "../../breakpoints.scss";
  /* section {
    height: 70vh;
  } */

  footer {
    position: absolute;
    width: 100%;
    min-height: calc(70vh + 80px);
    background-color: var(--kayogreen);
    z-index: 0;
  }
  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: darken;
    background-position: center bottom -100px;
    z-index: 1;
  }

  .logos {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .content {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  .kayo-logo {
    width: 84px;
    height: 45px;
  }
  .fox-logo {
    width: 75px;
    height: 47px;
  }

  .legal {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .small-print {
      text-transform: uppercase;
    }
  }

  .social {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    footer {
      // position: absolute;
      // bottom: 90px;
      // width: 100%;
      height: auto;
    }
    .bg {
      background-position: center bottom 56px;
    }

    .legal {
      flex-direction: row;
      width: 100%;
      min-width: 300px;
      justify-content: flex-end;
      gap: 20px;
      margin-bottom: 0;
    }
    .logos {
      justify-content: flex-start;
      gap: 20px;
    }
    .social {
      justify-content: flex-end;
    }

    .links {
      gap: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      flex-direction: row;
      bottom: 80px;
      align-items: center;
    }
  }
</style>
